# Archivos y carpetas del entorno virtual
.venv/
venv/
env/
env3/
venv3/


# Data files
*.json

# Ignore the youtoxic_english_1000.csv dataset file
Data/youtoxic_english_1000.csv


# Archivos de configuración específicos del entorno
*.local
*.log
*.lock
*.pid
*.swp
*.swo
*.bak
*.tmp

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de compilación
__pycache__/
*.py[cod]
*.so

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml

# Archivos de sistema
.DS_Store
Thumbs.db